/* Reset de propriedades */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile First - CSS do mobile */

body {
    color: grey;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px 5px 0 5px;
}

main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}

header i {
    font-size: 2em;
    color: white;
}

header img {
    height: 55px;
    margin-right: calc(50% - 48.5px);
}

#sessao-principal {
    padding-bottom: 15px;
    border-bottom: 2px dotted grey;
}

#sessao-principal figure {
    display: flex;
    justify-content: center;
}

#sessao-principal figure img {
    height: 150px;
    margin-left: -20px;
}

#sessao-principal article h1 {
    width: 80%;
    margin-top: 15px;
    color: orangered;
    font-size: 1.6rem;
}

#sessao-principal article p {
    width: 90%;
    margin-top: 15px;
}

#sessao-principal article a {
    padding: 10px 20px;
    margin-top: 15px;
    background-color: orangered;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#produtos {
    margin-top: 15px;
}

#produtos article h2 {
    font-size: 0.8rem;
    background-color: orangered;
    color: white;
    padding: 4px;
}

#produtos article {
    border: 0.2px solid grey;
}

#produtos article img {
    float: left;
    margin: 10px;
}

#produtos article p {
    font-size: 0.8rem;
    padding: 10px;
}

footer {
    padding: 5px;
    background-color: black;
    margin-top: 9%;
}

footer img {
    margin-top: -20px;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
}

header nav {
    display: none;
    flex-direction: column;
    position: absolute;
    padding: 0 10% 5px 10%;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: black;
}
header input{
    display: none;
}
header input:checked ~ nav{
    display: flex;
   }

header nav a {
    text-align: center;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    background-color: orangered;
    border-radius: 3px;
}

@media screen and (min-width: 768px) {}